<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자유게시판</title>
</head>
<body>
<h1 align="center">게시글 목록</h1>
<br><br>
<div>
 <table align="center" border="1">
  <tr>
    <th>글번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>첨부파일</th>
  </tr>
      <tr th:each="board : ${list}">
        <td th:text="${board.id}"></td>
        <td>
          <a th:text="${board.title}" th:href="@{/board/detail(id=${board.id})}"></a>
        </td>
        <td th:text="${board.writer}"></td>
        <td th:if = "${board.filename == null}"> X </td>
        <td th:if = "${board.filename != null}"> O </td>
      </tr>
  <tr>
    <td colspan="4" align="center">
      <form action="/board/list" method="get">
        <select name="searchCondition">
          <option value="all">all</option>
          <option value="writer">writer</option>
          <option value="title">title</option>
          <option value="contents">contents</option>
        </select>
        <input type="text" name="searchKeyword" value="">
        <input type="submit" value="검색">
      </form>
    </td>
  </tr>
  <tr>
      <td colspan="4" style="text-align: center">
          <span>
              <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                  <a th:if = "${page != nowPage and param.searchKeyword != null}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword}, searchCondition = ${param.searchCondition})}" th:text="${page}"></a>
                  <a th:if = "${page != nowPage and param.searchKeyword == null}" th:href="@{/board/list(page = ${page - 1})}" th:text="${page}"></a>
                  <strong th:if = "${page == nowPage}" th:text="${page}" style="color: black"></strong>
              </th:block>
          </span>
<!--          <span>
              <a th:if = "${nowPage != 1 and param.searchKeyword != null}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword}, searchCondition = ${param.searchCondition})}" th:text="${page}"></a>
              <a th:if = "${page != nowPage and param.searchKeyword == null}" th:href="@{/board/list(page = ${page - 1})}" th:text="${page}"></a>
          </span>-->
      </td>
  </tr>
 </table>
</div>
<span style="text-align: right">
   <button onclick="location.href='/board/writeFrom';">글쓰기</button>
</span>
</body>
</html>